:root {
    --col: #1F8A3B;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.htaco {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    vertical-align: middle;
    text-align: center
}

.taco {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1cm;
}

/* .hsec {
    margin-top: 1.2rem;
    color: #111;
    text-decoration: underline;
    text-decoration-color: var(--col);
}*/

.hsec {
    margin-top: 1.2rem;
    color: #111;
    border-bottom: 3px solid var(--col);
    padding-bottom: 3px;
    width: 25%;
}

a {
    color: #013f7d;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: #014991;
}

/* Navigation */

nav {
    display: flex;
    gap: 10px;
}


header a {
    font-size: larger;
    padding: 0 15px 0;
    margin: 0 auto auto auto;
    line-height: 2;
}

header h1 a {
    padding: 0;
}

header {
    padding: 15px;
}

figure {
   margin: 1em auto;
}

.cvlist {
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 5rem 1fr;
    column-gap: 0.7rem;
    row-gap: 0.35rem;
}

.cvlist dt {
    font-weight: 600;
}

.cvlist dd {
    margin: 0;
}

.scvlist {
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 5rem 1fr;
    column-gap: 0.7rem;
    row-gap: 0.35rem;
}

.scvlist dt {
    font-weight: 600;
}

.scvlist dd {
    margin: 0;
}






