:root {
    --col: #1F8A3B;
    --bcol: #a80000;
    --lcol: #a418db;
}


body {
	 margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #082419;
    color: white;
}

.hsec {
    margin-top: 2rem;
    border-bottom: 3px solid var(--bcol);
    padding-bottom: 3px;
    width: 38.2%;
}

.taco {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 1cm;
    box-sizing: border-box;
    padding: 0 13px;
}

.htaco {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 1cm;
    box-sizing: border-box;
    padding: 0 13px;
    text-align: center
}

.itaco {
 	width: 80%;
    max-width: 900px;
    margin: 0 auto 1cm;
}

/* Links */

a {
    text-decoration: none;
    color: var(--lcol);
    transition: color 0.5s;
}

a:hover{
    color: #E2E2B6;
}

/* Navigation */

nav {
    display: flex;
    gap: 10px;
}

/* Header */

header h1 a {
    padding: 0;
}

header a:hover {
    color: #a418db;
}

header {
    padding: 15px;
    background-color: #111111;
    border-bottom: 3px solid var(--bcol);
}
}

/* Main */

/* section { 
}*/

figure {
    margin: 1em auto;
}

.picture {
    max-width: 100%;
    height: auto;
    display: block;
}

img.picture ~ figcaption {
    text-align: center;
}

.mob {
  display: none;
}

.page-end {
    margin-top: 200px;
    padding-bottom: 40px;
    text-align: center;
}

@media (max-width: 768px) {
  .mob {
    display: block;
  }
}






